.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

header{
    background: #fff;
    border: none;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 60px;
    top: 0;
    filter: drop-shadow(0 1px 4px rgba(70,75,80,.2));
}